<link href="~/Content/Homepage.css" rel="stylesheet" />
@model EntityLayer.Concrete.ForRepetitive
@using System.Web.UI.WebControls


<style>
    .buttonIncome {
        border-radius: 10px;
        border-color: green;
        background-color: green;
        border-width: 3px;
        border-style: solid;
        font-family: Coolvetica;
    }

        .buttonIncome:hover {
            background-color: transparent;
            color: darkgreen;
        }
</style>

@Html.DevExpress().Button(settings =>
{

    settings.Name = "PopupRepetitiveIncomeButton";
    settings.Text = "Tekrarlanan Kazanç Ekle";
    settings.ControlStyle.CssClass = "buttonIncome";
    settings.UseSubmitBehavior = false;
    settings.ClientSideEvents.Click = "function(s,e) { e.processOnServer=false; AddRepetitiveIncomePopup.Show(); }";
    settings.Width = 255;
    settings.Height = 50;
    settings.ControlStyle.Font.Name = "Coolvetica";
    settings.ControlStyle.Font.Size = 16;


}).GetHtml()




@Html.DevExpress().PopupControl(
    settings =>
    {

        settings.Name = "AddRepetitiveIncomePopup";
        settings.Width = 320;
        settings.AllowDragging = true;
        settings.CloseAction = CloseAction.CloseButton;
        settings.CloseOnEscape = true;
        settings.HeaderText = "Tekrarlanan Kazanç Ekle";
        settings.ControlStyle.Font.Name = "Coolvetica";
        settings.Modal = true;
        settings.AutoUpdatePosition = true;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.PopupVerticalAlign = PopupVerticalAlign.Above;
        settings.SetContent(() =>
        {
            using (Html.BeginForm("AddRepetitiveIncome", "Home", FormMethod.Post, new { id = "popupForm", @class = "edit_form" }))
            {
                Html.Hidden("RepetitiveTransactionID");

                @Html.DevExpress().FormLayout(s =>
                {
                    s.Name = "RepetitiveIncomeFormLayout";
                    s.RequiredMarkDisplayMode = RequiredMarkMode.None;
                    s.Width = Unit.Percentage(100);
                    s.Height = Unit.Percentage(100);

                    s.NestedExtensionWidth = Unit.Percentage(100);
                    s.Items.Add(i =>
                    {
                        i.Name = "RepetitiveIncomeAmount";
                        i.FieldName = "RepetitiveTransactionAmount";
                        i.Caption = "Miktar";
                        i.CaptionStyle.Font.Bold = false;
                        i.CaptionStyle.Font.Name = "Coolvetica";
                        i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
                    });
                    s.Items.Add(i =>
                    {
                        i.Name = "RepetitiveIncomeDate";
                        i.FieldName = "RepetitiveTransactionDate";
                        i.Caption = "Tarih";
                        i.CaptionStyle.Font.Bold = false;
                        i.CaptionStyle.Font.Name = "Coolvetica";
                        i.NestedExtensionType = FormLayoutNestedExtensionItemType.DateEdit;


                    });
                    s.Items.Add(i =>
                    {
                        i.Name = "RepetitiveIncomeCaretgoryID";
                        i.FieldName = "RepetitiveIncomeCategoryID";
                        i.Caption = "Kategori";
                        i.CaptionStyle.Font.Name = "Coolvetica";
                        i.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
                        i.SetNestedContent(() =>
                        {
                            ViewContext.Writer.Write("<div class=\"divWithStandardTextBox\">");
                            ViewContext.Writer.Write(Html.DropDownListFor(m => m.TransactionCategory.Category, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" }));
                            ViewContext.Writer.Write("</div>");
                        });



                    });
                    s.Items.Add(i =>
                    {
                        i.Name = "RepetitiveIncomePeriod";
                        i.FieldName = "PeriodAmount";
                        i.Caption = "Ne kadar sürede bir?";
                        i.CaptionStyle.Font.Bold = false;
                        i.CaptionStyle.Font.Name = "Coolvetica";
                        i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
                    });
                    s.Items.Add(i =>
                    {
                        i.Name = "RepetitiveIncomePeriodTypeID";
                        i.FieldName = "PeriodTypeID";
                        i.Caption = "Süre Tipi";
                        i.CaptionStyle.Font.Name = "Coolvetica";
                        i.NestedExtensionType = FormLayoutNestedExtensionItemType.ComboBox;
                        i.SetNestedContent(() =>
                        {
                            ViewContext.Writer.Write("<div class=\"divWithStandardTextBox\">");
                            ViewContext.Writer.Write(Html.DropDownListFor(x => x.PeriodType.PeriodTypeName, (List<SelectListItem>)ViewBag.PeriodTypeNames, new { @class = "form-control" }));
                            ViewContext.Writer.Write("</div>");
                        });

                    });

                    s.Items.Add(i =>
                    {
                        i.Name = "RepetitiveIncomeDescription";
                        i.FieldName = "TransactionDescription";
                        i.Caption = "Açıklama";
                        i.CaptionStyle.Font.Bold = false;
                        i.CaptionStyle.Font.Name = "Coolvetica";
                        i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;

                    });
                    s.Items.Add(i =>
                    {
                        i.ShowCaption = DefaultBoolean.False;
                        i.SetNestedContent(() =>
                        {
                            Html.DevExpress().Button(
                                buttonSettings =>
                                {
                                    buttonSettings.Name = "RepetitiveIncomebtnUpdate";
                                    buttonSettings.ControlStyle.CssClass = "button";
                                    buttonSettings.Width = 80;
                                    buttonSettings.Text = "Kaydet";
                                    buttonSettings.UseSubmitBehavior = true;
                                }
                            ).Render();

                        });
                    });
                }).Render();
            }
        });

        settings.ClientSideEvents.CloseUp = "function(s, e){ ASPxClientEdit.ClearEditorsInContainer(null, '', true); }";
    }).GetHtml()
















